body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/background_apex.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: Apex-Regular;
    src: url(./assets/fonts/fonts/Apex-Regular.ttf);
    src: url(./assets/fonts/fonts/Apex-ExtraBold.ttf);
}

@font-face {
    font-family: Apex-Extrabold;
    src: url(./assets/fonts/fonts/Apex-ExtraBold.ttf);
}


.contains {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    height: 600px;
    width: 300px;
    background: url(./assets/background_apex.png);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.1);
    width: 500px;
}


.character-image {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perso,
.name,
.spell {
    visibility: hidden;
    margin-left: 25px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.box:hover .perso,
.box:hover .name,
.box:hover .spell {
    visibility: visible;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    margin-right: 5px;
}

.spell {
    height: 105px;
    width: 135px;
    visibility: hidden;
    margin-left: 25px;
}

.name {
    font-family: Apex-Regular;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.box:hover .name,
.box:hover .spell {
    visibility: visible;
}

.image-options input[type="radio"] {
    display: none;
}

.image-options label {
    cursor: pointer;
}

.image-options label:hover .circle {
    background-color: #000;
}

.image-options input[type="radio"]:checked+label .circle {
    background-color: #000;
}

.image-options {
    display: none;
    position: absolute;
    top: 0;
    /* ou ajustez selon votre mise en page */
    left: 0;
    /* ou ajustez selon votre mise en page */
    z-index: 2;
    /* assurez-vous que le menu déroulant est au-dessus des autres éléments */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.image-options.show {
    display: flex;
    flex-direction: column;
}

.image-options:hover {
    background-color: #f8f8f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-options::after {
    content: '\25BC';
    /* Utilisez une flèche vers le bas Unicode comme contenu après */
    font-size: 14px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Assurez-vous que la flèche ne bloque pas les événements de souris */
}

.show-options-button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
}

.show-options-button:hover {
    background-color: #000;
}

.button {
    margin: 15px;
    position: relative;
}



a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    transition: width 0.5s ease-out;
    width: 8px;
    padding: 12px 20px 12px 16px;
    font-size: 20px;
    color: #00f260;
    text-decoration: none;
    animation: 0.5s infinite alternate 3s boutton;
}

span {
    position: relative;
    display: block;
    overflow: hidden;
    top: -2px;
    height: 20px;
    padding-left: 15px;
    font-family: 'Work Sans';
    font-weight: 300;
    color: #0cebeb;
    letter-spacing: 2px;
}

@keyframes boutton {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}

a:hover {
    transition: width 0.5s ease-out;
    width: 100px;
    background: #fff;
    border-radius: 10px;
    animation: none;
}

a:hover .fa-angle-down {
    transition: rotate 0.1s ease;
    transform: rotate(-90deg);
}

.button2 {
    visibility: hidden;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
}

.box:hover .button2 {
    visibility: visible;
}

/* Ajoutez ces règles CSS pour personnaliser le style du menu déroulant */
.image-selector {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.image-selector select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    appearance: none;
    /* Supprime les styles par défaut du navigateur */
    font-size: 0;
    /* Cache le texte du select */
}

/* Ajoutez ces règles pour améliorer l'apparence du menu déroulant au survol */
.image-selector:hover {
    background-color: #f8f8f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Ajoutez ces règles pour améliorer l'apparence de la flèche du menu déroulant */
.image-selector::after {
    content: '\25BC';
    /* Utilisez une flèche vers le bas Unicode comme contenu après */
    font-size: 14px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Assurez-vous que la flèche ne bloque pas les événements de souris */
}


/* Ajoutez cette règle CSS */
.global-selector {
    display: none;
}

.box .global-selector {
    display: block;
}

.boutique {
    font-family: Apex-Regular;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    top: 5%;
}

.boutique:hover {
    transition: 0.5s;
    background-color: url(./assets/background_apex.png);

}



form {
    justify-content: center;
    align-items: center;
}


.shop {
    font-family: Apex-Regular;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    top: 5%;
}