body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/background_apex.png);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
@font-face {
    font-family: Apex-Regular;
    src: url(./assets/fonts/fonts/Apex-Regular.ttf);
}
.contains {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    height: 600px;
    width: 300px;
    background-color: #EB4141;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.1);
    width: 500px;
}

.wraith {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.octane {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.revenant {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.catalyst {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
} 

.spell {
    height: 135px;
    width: 135px;
    visibility: hidden;
    margin-left: 25px;
}

.name {
    font-family: Apex-Regular;
    letter-spacing: 0.5px;
    color: white;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;

}

.box:hover .name {
    visibility: visible;
}

.box:hover .spell {
    visibility: visible;
}

/* .spell::after {
    opacity: 0;
} */